@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dual-handle range slider styles */
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
  margin-top: -5px; /* Adjust to vertically center the thumb */
}

.slider-thumb::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
  border: none;
  margin-top: -5px; /* Adjust to vertically center the thumb */
}

.slider-thumb {
  background: transparent;
  outline: none;
  pointer-events: auto;
  position: relative;
}

.slider-thumb::-webkit-slider-track {
  background: transparent;
  border: none;
  outline: none;
}

.slider-thumb::-moz-range-track {
  background: transparent;
  border: none;
  outline: none;
}
